/* GIVEN I need to sample a potential employee's previous work
WHEN I load their portfolio
THEN I am presented with the developer's name, a recent photo or
 avatar, and links to sections about them, their work, and how to contact them
WHEN I click one of the links in the navigation
THEN the UI scrolls to the corresponding section
WHEN I click on the link to the section about their work
THEN the UI scrolls to a section with titled images of the developer's applications
WHEN I am presented with the developer's first application
THEN that application's image should be larger in size than the others
WHEN I click on the images of the applications
THEN I am taken to that deployed application
WHEN I resize the page or view the site on various screens and devices
THEN I am presented with a responsive layout that adapts to my viewport */

body {
    background-image: linear-gradient(to right, #2E86C1, #5DADE2, #85C1E9);
}

header {
    display: block;
    font-family: 'Bellota';
    font-size: 30px;
    color: white;
    text-align: center;
  }
/* Sticky navbar - toggles between relative and fixed, depending on the scroll position. It is positioned relative until a given offset position is met in the viewport - then it "sticks" in place (like position:fixed). The sticky value is not supported in IE or Edge 15 and earlier versions. However, for these versions the navbar will inherit default position */
.navbar {
    overflow: hidden;
    background-color: #1B4F72;
    position: sticky;
    top: 0;
    font-family: 'Bellota';
    
  }

  /* Style the navigation bar links */
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }

  /* Active/current link */
.navbar a.active {
    background-color: #666;
    color: white;
  }

  /* Change color on hover */
.navbar a:hover {
    background-color: #ddd;
    color: #154360;
  }



 
 
  
  @media screen and (max-width: 900px) {
    .navbar a {
      width: 100%;
      height: auto;
      position: relative;
    }
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
 
 
  @media screen and (max-width: 400px) {
    .navbar a {
      float: none;
      width: 100%;
    }