/* Background color gradient change left to right */
body {
  background-image: linear-gradient(to right, #2E86C1, #5DADE2, #85C1E9);
}
/* Header */
header {
  display: block;
  font-family: 'Bellota';
  font-size: 30px;
  color: white;
  text-align: center;
}

/* Hero  */

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'arial'
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.unsplash.com/photo-1592609931095-54a2168ae893?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwyNjU1NTR8MHwxfHNlYXJjaHwxfHxqYXZhc2NyaXB0fGVufDB8MHx8fDE2MzU0NTcyNDA&ixlib=rb-1.2.1&q=80&w=1080');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.hero-text {
  text-align: center;
  color: white;
}

.hero-text h1 {
font-size: 5rem;
margin: 0;
}

button {
  color: black;
text-align: center;
cursor: pointer;
border: none;
  padding: 10px;
border-radius: 3px;
}

button:hover {
opacity: .5;
}



/* Sticky navbar - goes between relative and fixed, depending on the scroll position. */

.navbar {
  overflow: hidden;
  background-color: #1B4F72;
  position: sticky;
  top: 0;
  font-family: 'Bellota';
}

/* Style for navigation bar links */

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

/* Change color when hover in navbar */

.navbar a:hover {
  background-color: #ddd;
  color: #154360;
}

/* Image details */

.rounded-pic {
  border-radius: 50%;
  align-items: center;
}

img {
  backface-visibility: hidden;
}
/* image thumbnail details */
.thumbnail:hover {
  position: relative;
  top: -25px;
  left: -35px;
  width: 500px;
  height: auto;
  z-index: 999;
  backface-visibility: hidden;
}
/* button for code link */
.special-button {
  border: 1px solid black;
  display: block;
  background: #BFC9CA;
  width: fit-content;
  padding: 10px;
  border-radius: 10px;
  text-align: auto;
  margin: 0 auto;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: black;
  font-size: medium;
  
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}
/* Font details */
h2, h3, h4, p, a {
  display: block;
  font-family: 'Bellota';
  font-size: 30px;
  color: white;
  text-align: center;
}
/* Linked in Image button details */
#idLinkedInIcon {
  background-color: rgb(0, 102, 170);
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font: bold 40px Arial, Helvetica, sans-serif;
  height: 40px;
  margin-top: 1px;
  text-align: center;
  width: 40px;
  margin: 0 auto;
}

#idLinkedInIcon:hover {
  background-color: #06d;
}

/* Responsive layout 900px & 400px */

@media screen and (max-width: 900px) {
  .navbar a {
    width: 100%;
    height: auto;
    position: relative;
  }
}

@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}

